*.pyc
.idea/
*.iml
# Ignore built classes, but include the jar files produced by Ant, which are included ready-compiled with Pimlico
build/classes/
# Ignore all libs except the Makefiles to fetch them with
lib/java/*
!lib/java/Makefile
lib/python/*
!lib/python/Makefile
lib/python_env*
lib/virtualenv/*
!lib/virtualenv/README.md
lib/bin/*
!lib/bin/README*
lib/faiss
lib/word2vecf
models/*
!models/Makefile
!models/README.md
docs/_build/*
log/
lib/test_env/
